.fullInfo {
    text-align: left;
    padding-left: 5%;
}

.heading{
    text-shadow: 2px 2px 5px red;
    color: rgb(255, 255, 255);
}

.info{
    float: left;
}

.description{
    color: antiquewhite;
    float: left;
    text-align: left;
}

.emphasize{
    color: aliceblue;
    /* font-weight: bolder; */
    text-shadow: 2px 2px 5px white;
    text-decoration: none;
}

.emphasizeBold{
    color: aliceblue;
    font-weight: bolder;
    font-style: italic;
    /* text-shadow: 2px 2px 5px white; */
    text-decoration: none;
}
